<div class='container'
<div id='article-table-of-contents'>
  <%= @sections.each do |section| %>
  <%= section.html_safe %>
  <% end %>
</div>

<h1><%= @article.versions.last.title %></h1>
<p><%= @article.versions.last.body.html_safe %></p>
</div>
