<div class="container">
  <% if current_user.admin? %>
   <button class='btn btn-default'><%= link_to "Edit users", users_path %></button>
  <% end %>
  <h1>Welcome <%= current_user.email %></h1>
  <ul>
    <li><% @articles = current_user.versions %></li>
    <li><% @articles.each do |article| %></li>
    <li><%= article.title %></li>
  </ul>
<% end %>
</div>