<div class="container">
  <h1>Welcome <%= current_user.email %></h1>
  <div class="row">
  <h3>Manage your articles:</h3>
  <ul>
      <% @articles.each do |article| %>
      <li><%= article.title %></li>
      <% end %>
    </ul>

  </div>

  <% if current_user.admin? %>
    <div class="row">
      <h3>Manage your users:</h3>
      <button class='btn btn-danger btn-lg'><%= link_to "Edit users", users_path %></button>
    </div>
  <% end %>

</div>
