  <div class="container featured-articles">
  <h1>Featured Articles:</h1>
    <div class="row">
      <div class="col-md-3 featured-article-img">
        <img src="http://www.wired.com/wp-content/uploads/2014/09/naked-molerat-inline.jpg" class="img-responsive img-thumbnail" alt="Naked Mole-rat">
      </div>
      <div class="col-md-8 featured-article">
        <h3>Naked Mole-rat</h3>
        <p>The naked mole-rat (Heterocephalus glaber), also known as the sand puppy[2] or desert mole rat, is a burrowing blesmol native to parts of East Africa and is the only species currently classified in the genus Heterocephalus.[3] The naked mole-rat and the Damaraland mole-rat are the only known eusocial mammals.[4] READ MORE ... </p>
      </div>
    </div>
        <div class="row">
      <div class="col-md-3 featured-article-img">
        <img src="http://peabody.yale.edu/sites/default/files/imagecache/slideshow_images/images/exhibits/Southern%20flying%20squirrel.jpg" class="img-responsive img-thumbnail" alt="Flying Squirrel">
      </div>
      <div class="col-md-8 featured-article">
        <h3>Flying squirrel</h3>
        <p>Flying squirrels (scientifically known as Pteromyini or Petauristini) are a tribe of 44 species of squirrels in the family Sciuridae. They are not capable of flight in the same way as birds or bats but are able to glide from one tree to another with the aid of a patagium, a furry, parachute-like membrane that stretches from wrist to ankle.  READ MORE ... </p>
      </div>
    </div>
  </div>

