<div class="container">

  <h3> <%= @versions.first.title %>: Revision History </h3>

  <ul>
    <% @versions.each do |version| %>

    <li><%= link_to version.title , version_path(version) %></li>
    <% end %>
  </ul>
</div>

