<p>
  <strong>Title:</strong>
  <%= @version.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @version.body %>
</p>

<p>
  <strong>Created:</strong>
  <%= @version.created_at %>
</p>

<%= link_to 'Back', versions_path %>