/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin-bottom: 60px;
}

.page-header {
  margin: 0px;
}

.search {
  margin-right: auto;
  margin-left: auto;
  width: 300px;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #6A6887;
}

.text-muted {
  color: #F5F5F2;
  text-align: center;
  padding-top: 20px;
}

.center-text {
  text-align: center;

}

h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}

.navbar {
  height: 60px;
  background-color: #6A6887;
  }

.navbar-nav li a:hover {
  background-color: #6A6887;
}

.navbar-brand, .navbar-nav li a {
  color: #F5F5F2;
  height: 20px;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand-text {
  padding-top: 20px;
  font-size: xx-large;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}

.navbar-brand-text:hover {
  color: #F5F5F2;
}

.navbar-right {
  padding-top: 5px;
  text-transform: uppercase;
}
