<div class="container">
  <h1>Categories:</h1>
  <div class="categories">
    <table>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to 'Show', category %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
