<div class="container">
  <h1><%= @category.name %></h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.title, article %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>